html {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    flex: 0 1 auto;
}

.content{
    flex: 1 1 auto;
    padding-top: 0.25rem;

    /* border: 1px solid #000; */
}

/* FOOTER */
.footer {
    flex: 0 1 auto;

    /* border: 1px solid #000; */
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* border: 1px solid #da032a; */
}

.menu-item {
    display: flex;
    align-items: center;
}

.auth-items {
    display: flex;
    flex-direction: column;
}

.auth-item {
    flex: 0 1 auto;
}

.empty-item {
    display: none;
}

/* Маленькие экраны */
@media (max-width: 500px) {
    .auth-items {
        display: none;
    }
}
