{% extends 'index/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div id="liveAlertPlaceholder"></div>
    <button type="button" class="btn " id="liveAlertBtn" >Показать живое уведомление</button>
    {% if form.errors %}


            <div class="row align-items-center h-auto ">
                <div id="login_error" class="align-self-center w-100 fs-3 text-danger text-center opacity-75 shadow p-1 mb-2 bg-body-tertiary rounded">

                    {{ form.non_field_errors }}

                </div>
            </div>
        {% endif %}
        {% if error %}
            <div class="row align-items-center h-auto ">
                <div id="downloading_error" class="align-self-center w-100 fs-3 text-danger text-center opacity-75 shadow p-1 mb-2 bg-body-tertiary rounded">
                    {{ error }}
                </div>
            </div>
        {% endif %}

        <div class="d-flex flex-wrap align-items-center g-lg-5 py-5 h-100 ">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="text-greeting1 display-5 fw-bold text-primary text-primary mb-3">Добро пожаловать на образовательный портал "Семейная школа"</h1>
                <p class="text-greeting1 col-lg-10 text-primary">Здесь Вы найдёте много полезных материалов для организации образовательного процесса</p>
            </div>
            <div class="col-md-10 col-lg-5 col-xl-5 mx-auto ">

                <form method="post" action="{% url 'accounts:login' %}" class="p-4 p-md-6  rounded-3 bg-body-tertiary">
                    {% csrf_token %}


                    {% for f in form %}
                        <!-- <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" name="username" placeholder="№" />
                            <label for="floatingInput">{{ form.username.label_tag }}</label>
                        </div> -->
                        <div class="d-flex flex-row g-3 align-items-center">

                            <div class="flex-grow-1 form-floating mb-3">
                                <!-- <input type="password" class="form-control" id="password1Input" name="password" placeholder="№" /> -->
                                {{ f }}
                                <label for="{{ f.id_for_label }}">{{f.label}}</label>


                            </div>
                            {% if f.id_for_label == 'id_password' %}
                                <span id="passShowingIcon" class="ms-2" onclick="togglePassShowing('id_password','passShowingIcon')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                                    </svg>
                                </span>
                            {% endif %}

                        </div>

                        <!-- <div class="checkbox mb-3">
                            <label>
                            <input  type="checkbox" value="remember-me"> Запомнить меня
                            </label>
                        </div> -->

                    {% endfor %}

                    <button class="w-100 btn btn-lg btn-primary pb-3" type="submit">Войти</button>
                    <p class="text-center pt-3"><a href="{% url 'accounts:password_reset' %}">Забыли пароль?</a></p>
                    <p class="text-center "><a href="{% url 'accounts:signup' %}">Зарегистрироваться.</a></p>
                    <hr class="my-1">
                    <small class="text-body-secondary">Нажимая "Войти", Вы соглашаетесь с правилами использования сайта</small>
                </form>




            </div>
        </div>




{% endblock content %}
