{% extends 'index/base.html' %}



{% block title %}Новый пароль{% endblock title %}

{% block content %}



    <div id="" class="align-self-center w-100 fs-2 text-success text-center opacity-75 shadow p-1 mb-2 bg-body-tertiary rounded">

        <p >Инструкции по изменению пароля высланы на Вашу электронную почту, указанную при регистрации!</p>
        <p>Если Вы не получали письмо, пожалуйста, проверьте корректность ввода адреса Вашей электронной почты и проверьте папку со спамом</p>

    </div>




    <!-- </div> -->

{% endblock content %}
