.\.venv
.\domashkola\static\css\customb.css.map
.\domashkola\static\css\style.css
.\domashkola\static\css\base1.html
.\domashkola\static\css\base2.html
.\domashkola\static\node_modules\
.\domashkola\static\scss\
