{% load static %}
        <div class="menu">

            <div class="menu-item">
                <a class="btn btn-outline-primary btn-sm w-10 w-sm-100 col-sm-12 p-1" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" role="button">
                        <div class="d-flex align-items-center justify-content-start  ">
                            <div class="  ">

                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-list " viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                                </svg>

                            </div>
                            <div class="d-none d-sm-block ms-3 " >

                                    Меню

                            </div>
                        </div>


                    </a>
            </div>


            <div class="menu-item ms-3 ">
                <a class="#" href="#">
                        <div class="d-flex flex-column ">

                            <!-- <img class="img-fluid w-100"  src="{% static 'img/logo/home2.png' %}" />
                            <img class="img-fluid w-100"  src="{% static 'img/logo/school2.png' %}" /> -->
                            <img class="img-fluid w-100 dark"  src="{% static 'img/logo/ex1/logo_dark.png' %}" />
                            <img class="img-fluid w-100 light"  src="{% static 'img/logo/ex1/logo_light.png' %}" />

                        </div>
                    </a>
            </div>

            <!-- <div>
                <div class="auth-items">
                    <a class="btn btn-primary auth-item" href="#">Login</a>
                    <a class="btn btn-primary auth-item" href="#" style="margin-top: 0.5rem;">Register</a>
                </div>
            </div> -->
            <div>
                <div class="auth-items">

                    <a class="btn btn-outline-primary btn-sm col-sm-12 p-1 my-1 " href="#" role="button">
                        <div class="d-flex align-items-center justify-content-start  ">

                            <div class="ms-2  ">
                                <svg class=" bi bi-person-circle" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor"  viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                            </div>
                            <div class="ms-3  ">

                                    Логин


                            </div>

                        </div>


                    </a>

                    <a class="btn btn-outline-primary btn-sm disabled col-sm-12 p-1 me-1 " href="#" role="button">
                        <div class="d-flex align-items-center justify-content-start  ">
                            <div class="ms-2  ">

                                <svg class=" bi bi-person-circle " xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor"  viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>

                            </div>
                            <div class="ms-3 " >

                                    Регистрация

                            </div>
                        </div>

                    </a>


                </div>
            </div>

        </div>
